:root {
    --color-green: rgb(30, 255, 0);
    --color-red-button: rgb(148, 21, 21);
    --color-red-li-hover: rgb(27, 172, 8);
}

html,
body {
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}

#title {
    margin-top: 5px;
    font-size: 2.7rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  
.container {
    width: 70%;
    margin: 50px auto 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  

  input,
  button {
    outline: none;
    border: none;
  }
  
  button {
    background-color: #008cba;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 0.7rem;
    border-radius: 10%;
  }
  
  button:hover {
    background: #2079b0;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Heading */
  
  h3,
  label[for="new-task"] {
    color: #333;
    font-weight: 700;
    font-size: 1.2rem;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }

  input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  
  input[type="text"]:focus {
    color: #333;
    
  }
  
  /* New Task */
  
  label[for="new-task"] {
    display: block;
    margin: 0 0 20px;
  }

  label.user-content {
    font-size: 1.2rem;
  }
     
  input#new-task {
    float: left;
    width: 318px;
    padding: 1.0em 2.0em;
  }
  
  /* Task list */
  
  li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  
  form input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    background-color: #cf2323;
    top: 3px;
    transform: scale(1.4);

  }
  
  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  
  
  li .delete:hover {
    color: #cf2323;
  }
  
  /* Completed */
  
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  
  .inputEdit{
    display: none;
}

  .user-content-hidden{
    display: none;

  }

  
  #clear {
    font-size: 15px;
    float: right;
    text-align: center;
  }


/* spacing  */

  .user-list-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .user-list-item .content-group{
      width: 70%;
  }

  .pending-user-list-item{
    display: flex;
    justify-content: space-between;
  }



  @media (min-width: 1100px){
      .to-do-section{
          display: flex;
          margin: 1em;
          justify-content: space-between;
      }

       .pending-tasks-group{
        width: 50%;

      }

      .completed-tasks-group{
        width: 45%;
      } 


  }

  @media (max-width: 1100px){
    .to-do-section{
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

    .pending-tasks-group{
      width: 100%;
    }

    .completed-tasks-group{
      width: 100%;
    }


}