.pagination__container{
    display: flex;
    flex-direction: column;
    align-items:stretch ;
    gap:30px

}

.pagination__container .button-set{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px
}