@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&family=Rubik:wght@300&display=swap");
@mixin font-large {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
}

@mixin font-medium {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
}

@mixin font-small {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
}
